<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <configSections>
    <section name="exceptionManagement" 
             type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement" />
  </configSections>
  <exceptionManagement mode="on">
    <publisher  assembly="Microsoft.ApplicationBlocks.ExceptionManagement"
                type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher"
                logname="Thermo" 
                applicationname="GAUGm1com" />
  </exceptionManagement>

  <appSettings>
    <add key="RootDirKey" value="C:\Thermo\GAUG_SP10874" />
  </appSettings>


</configuration>